.App {
  font-family: Avenir, Arial, Helvetica, sans-serif;
  -webkit-font-smooting: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #444;
  margin-top: 60px;
}
  body{
    margin: 0;
    background: #eee;

  }


form, .result {
  max-width: 1080px;
  margin: 30px auto;
  background: white;
  text-align: left;
  padding: 40px;
  border-radius: 10px;
}
label {
  color: #aaa;
  display:inline-block;
  margin: 25px 0 15px;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}
input, select{
  display: block;
  padding: 10px 6px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ddd;
  color: #555;
}

input[type="radio"]{
  display: inline-block;
  width: 16px;
  margin: 0 2px 0 10px;
  position: relative;
  top: 2px;
}
input[type="number"]{
  display: inline-block;
  width: 100px;
  margin:10px 10px 10px 10px;
  position: relative;
  top: 2px;
}

.pill{
  display: inline-block;
  margin: 20px 10px 0 0;
  padding: 6px 12px;
  background: #eee;
  border-radius: 20px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #777;
  cursor: pointer;
}

button{
  background: #0b6dff;
  border:0;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  border-radius: 20px;
}
.submit{
  text-align: center;
}
.error {
  color: #ff0062;
  margin-top: 10px;
  font-size: 0.8em;
  font-weight: bold;
}
p{
  word-wrap: break-word;
}
